@model Question
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h3>@Model.Title</h3>
<p>@Model.Description</p>
<p>By: @(Model.User != null ? Model.User.UserName : "Unknown User")</p>

<h4>All Answers:</h4>
@if (Model.Answers != null && Model.Answers.Any())
{
    foreach (var answer in Model.Answers)
    {
        <p>@answer.Content - @(answer.User != null ? answer.User.UserName : "Anonymous")</p>
        <hr />
    }
}
else
{
    <p>No answers yet.</p>
}

<br />
<br />

<h4>Add Answers</h4>
<form asp-action="AddAnswer" method="post">
    <div class="form-group">
        <textarea name="Content" class="form-control"></textarea>
    </div>
    
    <div class="form-group">
        <input type="hidden" name="IdentityUserId" value="@UserManager.GetUserId(User)"/>
    </div>
    
    <div class="form-group">
        <input type="hidden" name="QuestionId" value="@Model.Id"/>
    </div>
    
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>
</form>

<a asp-action="Index">Back to List</a>
